<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

  <ul class="navbar-nav">
    <a class="navbar-brand float-left" href="#">Press</a>
    <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Izlash">
    </form>
     <li class="nav-item"><a class="nav-link text-white" href="#">Biz haqimizda</a></li>
     <li class="nav-item"><a class="nav-link text-white" href="#">Savol va javoblar</a></li>
    <li class="nav-item"><button type="button" class="btn btn-warning text-white"><a href="/elon_berish" class="text-white"><i class="fa fa-plus"></i> E'lon berish</a></button></li>
  </ul>
</nav>